<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chat.ichat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.chat.ichat.application.SpotlightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chat.ichat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.chat.ichat.screens.launcher.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chat.ichat.screens.message.MessageActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.chat.ichat.screens.sign_up.SignUpActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:noHistory="false"
            android:label="@string/app_name" />
        <activity
            android:name="com.chat.ichat.screens.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:label="@string/app_name" />
        <activity
            android:name="com.chat.ichat.screens.welcome.WelcomeActivity"
            android:label="@string/app_name" />

        <service
            android:name="com.chat.ichat.core.FCMMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.chat.ichat.core.FCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.chat.ichat.MessageService"
            android:description="@string/service_message_description"
            android:exported="false" />

        <activity
            android:name="com.chat.ichat.screens.user_profile.UserProfileActivity" />
        <activity
            android:name="com.chat.ichat.screens.home.HomeActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name="com.chat.ichat.screens.search.SearchActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.chat.ichat.screens.new_chat.NewChatActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.chat.ichat.screens.web_view.WebViewActivity" />

        <activity android:name="com.chat.ichat.screens.settings.SettingsActivity" />
        <activity android:name="com.chat.ichat.screens.shared_media.SharedMediaActivity" />
        <activity android:name="com.chat.ichat.screens.user_id.SetUserIdActivity"
                  android:windowSoftInputMode="stateAlwaysVisible"/>
    </application>

</manifest>